<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999348190518-i6hgr14c3og9n2rm4e13ccjf7h869fmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999348190518-i6hgr14c3og9n2rm4e13ccjf7h869fmi</string>
	<key>API_KEY</key>
	<string>AIzaSyC2KDGeQAckDGeCsj8vRqZ2OTzsoGSSnO0</string>
	<key>GCM_SENDER_ID</key>
	<string>999348190518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.c2c-platform.FaceRecognition.Dev</string>
	<key>PROJECT_ID</key>
	<string>person-recognition-6df29</string>
	<key>STORAGE_BUCKET</key>
	<string>person-recognition-6df29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999348190518:ios:2702cde0692263d1e90797</string>
	<key>DATABASE_URL</key>
	<string>https://person-recognition-6df29.firebaseio.com</string>
</dict>
</plist>