<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041816595679-85i7nqrpgd6ef3o42lg6ipoui9jbmdma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041816595679-85i7nqrpgd6ef3o42lg6ipoui9jbmdma</string>
	<key>API_KEY</key>
	<string>AIzaSyAomggvYRF36m1kz8VmcWRrztOulz9O-Zw</string>
	<key>GCM_SENDER_ID</key>
	<string>1041816595679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.c2c-platform.FaceRecognition.Dev</string>
	<key>PROJECT_ID</key>
	<string>hr-checkin</string>
	<key>STORAGE_BUCKET</key>
	<string>hr-checkin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041816595679:ios:8494228c0418c527780d6a</string>
	<key>DATABASE_URL</key>
	<string>https://hr-checkin.firebaseio.com</string>
</dict>
</plist>