<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603240231346-9ghb14ltfd3cd0dq65s02rnho1gvfnu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603240231346-9ghb14ltfd3cd0dq65s02rnho1gvfnu7</string>
	<key>API_KEY</key>
	<string>AIzaSyCaJNd4dOGIQ77m4j11hIG95qLwtgGQYHE</string>
	<key>GCM_SENDER_ID</key>
	<string>603240231346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hosituanit.Flash-Dating-001</string>
	<key>PROJECT_ID</key>
	<string>flash-dating-001</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-dating-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603240231346:ios:ecf5eef0df6ffac91b74ab</string>
	<key>DATABASE_URL</key>
	<string>https://flash-dating-001.firebaseio.com</string>
</dict>
</plist>